html {
  background: #f8f8f8;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
  margin: 0 auto;
  padding: 1em;
  max-width: 75em;
  box-sizing: border-box;
  background: #ffffff;
  border: solid #e0e0e0 1px;
  border-top: none;
}

table {
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: .5em;
}

.flash {
  margin: 2em auto;
  color: red;
  font-size: larger;
  font-weight: bold;
}

.mod-change-student-name {
  display: inline-block;
}

.mod-create-student {
  margin: 1em 0;
}