%div.panel.panel-default
  %div.panel-heading Question preview
  %div.panel-body
    - url = preview_content_entry_quiz_question_path(@question)
    %iframe.fill.col-md-12{id: "preview_content", data: {url: url}, src: url, style: "min-height: 400px;" }

- url = error_content_entry_quiz_question_path(@question)
%div{id: "error_content", data: {url: url}}
  = render partial: 'error_content'
