@import compass
@import compass/css3/user-interface
@import base/mixins

// Buttons
.btn
  outline: none
  text-decoration: none
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  +user-select(none)
  box-sizing: border-box
  line-height: 50px
  position: relative
  display: inline-block
  letter-spacing: 1px
  text-align: center
  cursor: pointer
  font-weight: 600
  font-size: 17px
  padding: 0 20px
  +border-radius(3px)
  +single-transition(all, 0.2s)
  +box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.2))
  &[disabled]
    opacity: 0.5
    cursor: not-allowed
    +box-shadow(none !important)
  &:active
    +box-shadow(inset 0 2px 3px rgba(0,0,0,0.1), 0 1px rgba(255,255,255,1))

  // Icon in button
  &.has_icon
    &::before
      background: rgba(0,0,0,0.06)
      height: 100%
      content: ""
      width: 45px
      position: absolute
      font-family: arial
    &.left
      &::before
        left: 0
        content: "◄"
      padding-left: 63px
    &.right
      &::before
        right: 0
        content: "►"
      padding-right: 63px

  &.primary
    float: right

  // The spinner
  &::after
    +scale(2.5)
    opacity: 0
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    content: ""
    +single-transition(all, 0.3s)
  &.spin
    cursor: wait
    +box-shadow(none)
    &::after
      +scale(1)
      opacity: 1

  // Small button
  &.small
    font-size: 13px
    line-height: 30px

  // Green button (Primary action)
  &.green
    color: white
    background-color: #00b37c
    border: 1px solid #00a779
    border-color: #00a779 #009766 #00814e #009766
    +text-shadow(0px -1px 1px rgba(0, 0, 0, 0.2))
    &:hover, &:focus
      background-color: #00bc82
    &:active
      background-color: #00b37c
      border-bottom-color: #00a779
    &[disabled]
      &:hover, &:focus
        background-color: #00b37c
    &::after
      //background: image-url('green-spinner.gif') center no-repeat #00b37c

  // Grey button (Alternate action)
  &.grey
    color: #777
    border: 1px solid #b3b3b3
    border-color: #cbcbcb #b7b7b7 #b3b3b3 #b7b7b7
    +text-shadow(0 1px 0 #fff)
    background-color: #f9f9f9
    +box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.1))
    &:hover, &:focus
      color: #666
      background-color: #fdfdfd
    &:active
      background-color: #f9f9f9
      +box-shadow(inset 0 2px 3px rgba(0,0,0,0.1))
    &[disabled]
      &:hover, &:focus
        color: #777
        background-color: #f9f9f9
    &::after
      //background: image-url('grey-spinner.gif') center no-repeat #f9f9f9


  // White button (Alternate action)
  &.white
    color: #777
    +text-shadow(0 1px 0 #fff)
    background-color: #f9f9f9
    +box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.1))
    &:hover, &:focus
      color: #666
      background-color: #fdfdfd
    &:active
      background-color: #f9f9f9
      +box-shadow(inset 0 2px 3px rgba(0,0,0,0.1))
    &[disabled]
      &:hover, &:focus
        color: #777
        background-color: #f9f9f9
    &::after
      //background: image-url('grey-spinner.gif') center no-repeat #f9f9f9
