%div.panel.panel-default
  %div.panel-heading Question preview
  %div.panel-body
    = question_text_to_html(@question)
%div.panel.panel-default
  %div.panel-heading Worked out answer preview
  %div.panel-body
    = question_worked_out_answer_to_html(@question)
