%div.panel.panel-default
  %div.panel-heading Question preview
  %div.panel-body
    = question_text_to_html(@question)
%div.panel.panel-default
  %div.panel-heading Explanation preview
  %div.panel-body
    = question_explanation_to_html(@question)
