*~
*#
pom.xml
.nrepl-port
.lein-repl-history
.lein-failures
.DS_Store
learning/resources/public/js/out/*
learning/resources/public/js/studyflow-dev.js
learning/resources/public/js/studyflow.js
.sass-cache
target/