-@subsections.each do |subsection|
  %div.panel.panel-default
    %div.panel-heading
      %div.panel-title
        %strong= subsection.title.html_safe
    %div.panel-body
      = subsection.description.html_safe
