%div.row
  %div.col-md-12
    %h2
      %a.editable#title{data: {type: 'text', title: 'enter title'} }
        = @section.title
%p
  %a.editable#description{data: {type: 'textarea', title: 'enter description'} }
    = @section.description

=render 'subsections/index'
