body {
  font-family: sans-serif;
  max-width: 50em;
  margin: 5em auto;
}
.streak-box .last-four {
    border: 2px solid black;
}
.streak-box .old {
    border: 2px solid grey;
}
.reload-alert {
    border: 2px solid red;
}

.section-nav li.selected {
    background-color: green;
}