%div.panel.panel-default
  %div.panel-heading
    %div.pull-right
      -# %span
      -#   =link_to movedown_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
      -#     %span.glyphicon.glyphicon-arrow-down
      -#   =link_to moveup_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
      -#     %span.glyphicon.glyphicon-arrow-up
      -# %span
      -#   -if subsection.active?
      -#     =link_to deactivate_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
      -#       %span.glyphicon.glyphicon-ok
      -#   -else
      -#     =link_to activate_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
      -#       %span.glyphicon.glyphicon-remove

    %h3.panel-title
      = subsection_form.text_field :title

  %div.panel-body
    = subsection_form.text_area :description, style: 'width: 100%; min-height: 100px;'
