%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      = "#{subsection.position}:"
      = subsection.title
  %div.panel-body
    %iframe.col-md-12{rows: 7, id: "subsection_preview_#{ subsection.id[0,8] }"}
