%ul.nav.nav-tabs#subsection-tabs
  - Star.all.each_with_index do |star, index|
    %li{class: index == 0 ? "active" : ""}
      %a{href: "#star-#{star}", data: {toggle: "tab"} }
        - star.times do
          %span.glyphicon.glyphicon-star
        -if @subsections[star] && @subsections[star].length > 0
          %span.badge= @subsections[star].length
        -else
          %span.glyphicon.glyphicon-exclamation-sign

%div.tab-content
  - Star.all.each_with_index do |star, index|
    %div.tab-pane{id: "star-#{ star }", class: index == 0 ? "active" : ""}
      = render partial: 'subsections/list', locals: { star: star, subsections: @subsections[star]||[] }
