%ul.nav.nav-tabs#subsection-tabs
  - Star.all.each_with_index do |star, index|
    %li{class: index == 0 ? "active" : ""}
      %a{href: "#star-#{star}", data: {toggle: "tab", url: list_chapter_section_subsections_path(@chapter, @section, star: star)} }
        - star.times do
          %span.glyphicon.glyphicon-star
        -if @subsections_count[star].to_i > 0
          %span.badge= @subsections_count[star].to_i
        -else
          %span.glyphicon.glyphicon-exclamation-sign

%div.tab-content#subsection-list

:javascript
  var firstTabUrl = '#{ list_chapter_section_subsections_path(@chapter, @section, star: 1) }';
