%div.row
  %div.col-md-10
    %h2
      %strong Subsections
  %div.col-md-1
    = link_to 'New Subsection', new_chapter_section_subsection_path(@chapter, @section), class: "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Order
      %th Status

  %tbody
    -@section.subsections.each do |subsection|
      %tr
        %td= link_to subsection.title, [@chapter, @section, subsection]
        %td= subsection.description
        %td
          =link_to movedown_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
            %span.glyphicon.glyphicon-arrow-down
          =link_to moveup_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
            %span.glyphicon.glyphicon-arrow-up
        %td
          -if subsection.active?
            =link_to deactivate_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
              %span.glyphicon.glyphicon-ok
          -else
            =link_to activate_chapter_section_subsection_path(@chapter, @section, subsection), method: :post do
              %span.glyphicon.glyphicon-remove
