
%div.row
  %div.col-md-10
    %h2
      %strong Subsections
  %div.col-md-1
    = link_to 'New Subsection', new_chapter_section_subsection_path(@chapter, @section), class: "btn btn-success"

%ul.nav.nav-tabs#subsection-tabs
  - Star.all.each_with_index do |star, index|
    %li{class: index == 0 ? "active" : ""}
      %a{href: "#star-#{star}", data: {toggle: "tab", url: list_chapter_section_subsections_path(@chapter, @section, star: star)} }
        - star.times do
          x
          //%span.glyphicon.glyphicon-star

%div.tab-content#subsection-list
