%div.panel.panel-default{id: "panel_#{ @index }"}
  %div.panel-body
    %div.pull-right
      %span.glyphicon.glyphicon-plus.add-subsection{data: { after: "panel_#{ @index }", star: @star, url: chapter_section_subsections_path(@chapter, @section, stars: @star) } }
