%div.panel.panel-default{id: "subsection-panel-new"}
  %div.panel-body
    %div.pull-right
      %span.btn.btn-default.glyphicon.glyphicon-plus.add-subsection{data: { after: "subsection-panel-new",
                                                                                                                        url: chapter_section_subsections_path(@chapter, @section, position: 0) } }
