%li
  =link_to 'Courses', courses_path

%li
  =form_for(Course.current||Course.new, url: select_courses_path, method: :post, html: {id: "course_select", class: "navbar-form form-inline"}) do |f|
    = f.collection_select(:id, Course.all, :id, :name, {include_blank: 'choose course'}, {onchange: "submit()"})
