%div.panel.panel-default
  %div.panel-heading Question preview
  %div.panel-body
    - url = preview_content_chapter_chapter_quiz_chapter_questions_set_question_path(@chapter, @chapter_questions_set, @question)
    %iframe.fill.col-md-12{id: "preview_content", data: {url: url}, src: url, style: "min-height: 800px;" }


- if @question.parse_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Parse errors
    %table.table.table-bordered
      %tr
        %th #
        %th.danger current
        %th.success suggestion
      - index = 1
      - @question.parse_errors.each do |p_error|
        %tr
          %td= index
          %td= p_error.first
          %td= p_error.last
          - index += 1

- if @question.image_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Image errors
    %div.panel-body
      %ul
        - @question.image_errors.each do |i_error|
          %li.text-danger= i_error
