%div.panel.panel-default{id: "input-#{ input.id }" }
  %div.panel-heading.clearfix
    %div.row
      %div.col-md-3
        %strong
          - if input.line_input?
            Single line input
          - elsif input.multiple_choice_input?
            Multiple choice input
          - else
            Unknown input type
      %div.col-md-4
        %div.input-group
          %input.form-control{id: "input-title-#{input.id}", value: input.name, disabled: true, style:"font-family: monospace;"}
          %span.input-group-addon.copy-button{"data-clipboard-target" => "input-title-#{input.id}"}
            %span.glyphicon.glyphicon-share
      %div.col-md-5
        %span.pull-right.btn.btn-default.glyphicon.glyphicon-minus.delete-input{data: {item: "input-#{ input.id }", url: input_path(input, question_id: @question.to_param) } }
  %div.panel-body
    - if input.line_input?
      =render partial: 'inputs/line_input', locals: {input: input}
    - elsif input.multiple_choice_input?
      =render partial: 'inputs/multiple_choice_input', locals: {input: input}
    - else
      unknown input type
