%div.clearfix
  %div.pull-right
    %span.btn.btn-default.glyphicon.glyphicon-plus.add-choice{data: { item: "input-#{ input.id }", url: input_choices_path(input, question_id: @question.to_param) } }
%div
  %ul
    - input.choices.each do |choice|
      =render partial: 'choices/edit', locals: {input: input, choice: choice}
