%div.row
  %div.col-md-10
    Multiple choice input
  %div.col-md-2
    %span.btn.btn-default.glyphicon.glyphicon-plus.add-choice{data: { item: "input-#{ input.id }", url: input_choices_path(input, question_id: @question.to_param) } }
  %div.choices-list
    - input.choices.each do |choice|
      =render partial: 'choices/edit', locals: {input: input, choice: choice}
