// import the CSS framework
@import "bootstrap";

main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
iframe {
  border: 0;
  }
input[type="text"] {
  width: 90%;
  }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  }
.logo {
  height: 50px;
  margin: 0 20px 0 10px;
  }
.glyphicon-ok {
  color: green;
  }
.glyphicon-remove {
  color: red;
  }
.glyphicon-trash {
  color: red;
  }
.glyphicon-star {
  color: gold;
  }
.glyphicon-exclamation-sign {
  color: red;
  }
.glyphicon-plus {
  color: green;
  }
.glyphicon-minus {
  color: red;
  }
.glyphicon-eye-open {
  color: green;
  }
.glyphicon-ban-circle {
  color: orange;
  }
#section-row {
  padding-left:40px;
}

.copy-button {
  cursor: pointer;
  background-color: #ffffff !important;
}
.zeroclipboard-is-hover.zeroclipboard-is-active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.zeroclipboard-is-hover {
  background-color: #e6e6e6 !important;
}
