%ol.breadcrumb
  - if @crumbs
    - @crumbs.each_with_index do |crumb,index|
      - if index == @crumbs.length-1
        %li.active= crumb[:name]
      - else
        %li
          = link_to crumb[:name], crumb[:url]
