-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-default
  .navbar-header
    =link_to image_tag("studyflow_logo.png", height: 50, style: "float:left;margin-right:20px"), root_path
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'

    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/navigation_rechts'
