%nav.navbar.navbar-inverse.navbar-default
  .navbar-header
    =link_to image_tag("logo-white.svg", class: "logo"), root_path
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        =form_for(Course.current||Course.new, url: select_course_path, method: :post, html: {id: "course_select", class: "navbar-form form-inline"}) do |f|
          =f.collection_select(:id, Course.all, :id, :name, {include_blank: 'Select course'}, {onchange: "submit()", class: "form-control"})
      %li
        =link_to 'Logout', "#{ StudyflowPublishing::Application.config.auth_server }", method: :delete
