!!!
%html
  %head
    = stylesheet_link_tag "/assets/learning.css"
    = stylesheet_link_tag "//cloud.typography.com/6865512/722124/css/fonts.css"
    = csrf_meta_tags
  %body
    %div#m-section
      = yield
