%h1 Courses

%table
  %thead
    %tr
      %th Name
      %th

  %tbody
    -@courses.each do |course|
      %tr
        %td= course.name
        //%td= link_to 'Show', course

%br
//= link_to 'New Course', new_course_path, class: "btn btn-success"
