%h1 Courses

%table.table.table-striped
  %thead
    %tr
      %th Name

  %tbody
    -@courses.each do |course|
      %tr
        %td= course.name
        //%td= link_to course.name, course

%br
//= link_to 'New Course', new_course_path, class: "btn btn-success"
