%div.container
  %div.row{style: "margin-top: 20px;"}
    %div.col-md-8.col-md-offset-2
      - if @errors.empty?
        %div.row{style: "margin-bottom: 20px;"}
          %div.alert.alert-success{style:"text-align:center"}
            %p The course material contains no errors, you can proceed with publishing
        %div.row
          %div.col-md-2.col-md-offset-5
            = link_to 'Publish', publish_course_path, class: "btn btn-lg btn-success", method: :post
      - else
        %div.row{style: "margin-bottom: 20px;"}
          %div.alert.alert-danger{style:"text-align:center"}
            %h3 Oh snap! There are some errors with the course material
            %h4 Please fix the following errors before proceeding:
            %ul{style: "text-align: left"}
              - @errors.each do |error|
                %li= error
        %div.row
          %div.col-md-2.col-md-offset-5
            = link_to 'Check again', check_course_path, class: "btn btn-lg btn-info"
