%div.panel.panel-default
  %div.panel-heading
    =input.id[0, 8]
  %div.panel-body
    %div
      %input
    %div
      %ul
        - input.answers.each do |answer|
          %li
            =text_field_tag 'answer', answer.value
        %li
          %span.glyphicon.glyphicon-plus
