%div.panel.panel-default
  %div.panel-heading
    =input.id[0, 8]
  %div.panel-body
    %ul
      - input.choices.each do |choice|
        %li
          =text_field_tag 'choice', choice.value
          %input{type: :radio}
      %li
        %span.glyphicon.glyphicon-plus
