%form.form-horizontal#question-form{action: chapter_section_question_path(@chapter,@section,@question), role: :form}
  %div.row
    %div.col-md-9
      %h2 Editing question
    %div.col-md-1
      %span.btn.btn-primary.btn-lg.save Save
    %div.col-md-2
      %small
        %span#edit-time{style: "min-height:30px;"}
          Saved on:
          = l @section.updated_at, format: :long

  %div.row
    %div.col-md-6
      = text_area :question, :text, style: "width: 100%", rows: 20, class: "form-control"

      %div.panel.panel-default
        %div.panel-heading
          %div.col-md-4
            %select.form-control#input-type
              %option line-input
              %option multiple-choice
          %span.btn.btn-default#add-input{data: { url: inputs_path(question_id: @question.to_param) } } Add

        %div.panel-body#inputs-list
          -@question.inputs.each do |input|
            = render partial: 'inputs/edit', locals: {input: input}

      %div.panel.panel-default
        %div.panel-heading Worked out answer
        %div.panel-body
          = text_area :question, :worked_out_answer, style: "width:100%;", rows: 20, class: "form-control"

    %div.col-md-6
      - url = preview_chapter_section_question_path(@chapter, @section, @question)
      %iframe.fill.col-md-12{id: "preview", data: {url: url}, src: url, style: "min-height: 800px;" }
