%div.panel.panel-default
  %div.panel-heading Question preview
  %div.panel-body
    = text_to_html(@question.inputs, @question.text)

%div.panel.panel-default
  %div.panel-heading Worked out answer preview
  %div.panel-body
    = question_worked_out_answer_to_html(@question)

- if @question.parse_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Parse errors
    %div.panel-body
      %ul
        - @question.parse_errors.each do |p_error|
          %li.text-danger= p_error

- if @question.image_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Image errors
    %div.panel-body
      %ul
        - @question.image_errors.each do |i_error|
          %li.text-danger= i_error
