#dashboard_chapter_nav
  width: 700px
  margin: 100px auto

li.selected_chapter
  background: rgb(216, 215, 215)

li.dashboard_section
  a.section_link
    &.open
      border-left: 5px solid white // temp for dev

    &.finished
      border-left: 5px solid yellow // temp for dev

    &.in_progress
      border-left: 2px solid pink // temp for dev
