#m-modal
  top: 0
  bottom: 0
  left: 0
  right: 0
  position: fixed
  background: rgba(238,242,248,0.9)
  z-index: 900
  display: none
  &.show
    display: block

  .modal_inner
    width: 610px
    +border-radius(3px)
    border: 1px solid #c8c9cd
    background: white
    margin: 120px auto
    position: relative

    h1
      font-size: 19px
      text-transform: uppercase
      font-weight: 700
      display: block
      text-align: center
      margin: 40px 25px 25px 25px
      color: #4f5862

    p, ul
      padding: 0 50px
      color: #a1a9b3
      font-size: 15px
      font-weight: 500
      line-height: 28px

    .modal_footer
      padding: 25px 25px
