@import compass

#m-sidenav
  +single-transition(transform, ease, 1s)
  position: fixed
  width: 337px
  top: 66px
  bottom: 0
  left: 0
  background-color: #fcfbf7
  border-right: 2px solid #e8e7e2

  #sidenav_chapter_title
    color: #434d56
    font-weight: 600
    font-size: 16px
    line-height: 26px
    padding: 8px 20px
    text-transform: uppercase

  .section_list_item
    +box-sizing(border-box)
    position: relative

    &.finished
      &:after
        background: #e7e5d7

    &.in_progress
      &:after
        background: black

    &:after
      display: block
      position: absolute
      +border-radius(50%)
      width: 26px
      height: 26px
      left: 17px
      top: 50%
      margin-top: -16px
      content: ''
      border: 2px solid #d6d2bc

    &.open
      background: #efeeea
      border-bottom: 2px solid #e4e2df
      border-top: 2px solid #e4e2df
      margin: -1px -2px 0 0
      padding: 20px 0 5px 0
      &:after
        top: 26px
        margin-top: 0
        border-color: #f3b339
        background: #ffcd69
      .section_link
        border: 0
        font-weight: 500
        color: #434d56
        font-size: 18px
        padding-top: 6px
        padding-bottom: 19px

    .section_link
      display: block
      padding: 13px 25px 13px 75px
      border-bottom: 1px solid #eeefee
      line-height: 26px
      font-size: 15px
      font-weight: 500
      color: #9a978d
      +text-shadow(0 1px rgba(255,255,255,0.4))

    .section_tab
      display: block
      margin: 0 0 10px 74px
      font-size: 17px
      font-weight: 500
      line-height: 55px
      padding-left: 58px
      border: 1px solid transparent
      color: #888d91
      text-shadow: 0 1px rgba(255,255,255,0.4)
      &.selected
        background: white
        +border-left-radius(1px)
        color: #434d56
        border: 2px solid #dddcd9
        border-right: 0

#meta_content
  position: fixed
  bottom: 0
  width: 337px
  background: #efeeea
  border-top: 1px solid #e4e2df
  height: 60px

#nav_toggle
  background: black
  float: right
  width: 30px
  height: 30px
  margin: 15px 20px 0 0

.hide_nav
  #m-sidenav
    +translateX(-338px)
  #main
    margin: 0 50px
    //+translateX(-288px)
  #m-question_bar
    left: 0
  #m-top_header
    #page_heading
      margin: 20px 50px 0 50px
