@import compass

#m-sidenav
  position: fixed
  width: 338px
  top: 66px
  bottom: 0
  left: 0
  background-color: #eff2f8
  +box-shadow(inset -2px 0px 2px rgba(0,0,0,0.12))

  .section_list_item
    +box-sizing(border-box)
    position: relative

    &.finished
      &:after
        background: #d4d9df

    &.in_progress
      &:after
        background: #ccc

    &:after
      display: block
      position: absolute
      +border-radius(50%)
      width: 26px
      height: 26px
      left: 23px
      top: 50%
      margin-top: -16px
      content: ''
      border: 2px solid #cacfd6

    &.open
      background: #d2d9e0
      border-bottom: 1px solid #bbc0c8
      border-top: 1px solid #bbc0c8
      padding: 20px 0 5px 0
      &:after
        top: 26px
        margin-top: 0
        border-color: #2a373d
        background: #eef0f6
      .section_link
        border: 0
        font-weight: 500
        color: #333c43
        font-size: 18px
        padding-top: 6px
        padding-bottom: 19px


    .section_link
      display: block
      padding: 13px 25px 13px 75px
      border-bottom: 1px solid #e3e9ed
      line-height: 26px
      text-decoration: none
      font-size: 15px
      color: #8d9296
      +text-shadow(0 1px rgba(255,255,255,0.4))

    .section_tab
      display: block
      margin: 0 0px 10px 75px
      font-size: 17px
      font-weight: 500
      line-height: 46px
      text-decoration: none
      padding-left: 58px
      border: 1px solid transparent
      color: #767e84
      text-shadow: 0 1px rgba(255,255,255,0.4)
      &.selected
        background: white
        +border-left-radius(6px)
        color: #333c43
        border: 1px solid #bfc6cb
        border-right: 0
