@import compass

#m-top_header
  left: 0
  right: 0
  top: 0
  height: 61px
  position: fixed
  z-index: 9999
  background: #ffc24d
  border-top: 4px solid #e69b0c
  border-bottom: 2px solid #e69b0c

  #home
    position: absolute
    width: 40px
    height: 40px
    left: 16px
    top: 10px
    content: ''
    background: #cda44d

  #page_heading
    color: #434d56
    font-weight: 500
    text-align: center
    font-size: 21px
    margin: 20px 50px 0 338px
    +single-transition(margin, ease, 1s)

  .questions
    float: right
    margin: 9px 25px 0 0
