@import compass

#m-top_header
  left: 0
  right: 0
  top: 0
  height: 65px
  position: fixed
  z-index: 100
  background: #ffce61
  border-bottom: #eeb12f 1px solid

  .questions_page &
    background: #81B4EB //temp until standard provided
    border-bottom: #2F92EE 1px solid

  .home
    display: block
    position: absolute
    +border-radius(50%)
    width: 45px
    height: 45px
    left: 16px
    top: 10px
    content: ''
    background: #cda44d

  .page_heading
    color: #37474f
    font-weight: 500
    text-align: center
    font-size: 23px
    margin: 10px 50px 0 338px

  .page_subheading
    color: #817a59
    font-weight: 500
    text-align: center
    font-size: 15px
    margin: 6px 50px 0 338px

  .questions
    float: right
    margin: 9px 25px 0 0
