%h1 Chapters

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Status

  %tbody
    -@course.chapters.each do |chapter|
      %tr
        %td= link_to chapter.title, chapter
        %td
          -if chapter.active?
            %span.glyphicon.glyphicon-ok
          -else
            %span.glyphicon.glyphicon-remove

%br
= link_to 'New Chapter', new_chapter_path, class: "btn btn-success"
