%div.row
  %div.col-md-10
    %h2
      = @chapter.title
  %div.col-md-2
    = link_to 'New Section', new_chapter_section_path(@chapter), class: "btn btn-success"
%p
  = @chapter.description

=render 'sections/index'
